*.class
*.log
*.bak

# sbt specific
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea
out

# Metals
.metals

# Eclipse
bin/
.classpath
.project
.settings
.cache-main

#User
/*.vhd
/*.v
/*.sv
*.cf
*.json
*.vcd
!tester/src/test/resources/*.vhd
/*.svg

# SpinalHDL
simWorkspace/
formalWorkdir/
tmp/
null
*.fst
*.bin

# Python
*.pyc
__pycache__

# CocoTB
cocotb/**/sim_build
cocotb/**/results.xml
cocotb/**/iverilog_dump.v

# Vivado
vivado-test-*/
vivado*.jou

xsim.dir/

# GHDL
*.o
*.ghw

# Generated Output
build/

MaximVHDL
cocotb/BlackwireReceive/e~blackwirereceive.o
